@use './normalize.css' as *;
@use './variables' as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Fira Mono', sans-serif;
}
