@use '@app/styles/_variables' as *;

.profile {
  .container {
    .title {
      margin-bottom: 32px;
      color: $gray-light;
      font-weight: 400;
      font-size: 36px;
    }
  }
}

@media screen and (width <= 960px) {
  .profile {
    .container {
      .title {
        margin-bottom: 24px;
        font-size: 26px;
      }
    }
  }
}
