@use '@app/styles/_variables' as *;

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  width: 72px;
  min-width: 220px;
  height: 100vh;
  transition: width 0.2s ease-in-out;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 32px;
    height: 100%;
    background: $gray-dark;

    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .toggle-button {
        display: flex;
        justify-content: end;
        align-self: end;
        margin-inline: 20px;

        .button {
          outline: none;
          border: none;
          background: none;
          color: $gray;
          cursor: pointer;
        }
      }
    }

    .bottom {
      width: 100%;

      .logout-button {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;
        padding: 19px 21px;
        padding-left: 25px;
        width: 100%;
        outline: none;
        border: none;
        background: none;
        color: $white;
        transition: $primary-transition;
        cursor: pointer;

        .icon {
          color: $gray;
        }

        &:hover {
          background-color: $violet-dark;
        }
      }

      .logo {
        display: flex;
        justify-content: center;
      }
    }
  }
}
