@use '@app/styles/_variables' as *;

.item {
  width: 100%;
  border-radius: 1px;
  cursor: pointer;

  .link {
    display: flex;
    gap: 10px;
    padding: 19px 21px;
    width: 100%;
    border-right: 3px solid transparent;
    color: $white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    transition: $primary-transition;

    .icon {
      color: $gray;
    }
  }

  &:hover {
    background-color: $violet-dark;
  }

  &.active {
    .link {
      border-color: $primary;

      .icon {
        color: $primary;
      }
    }
  }
}
