@use '@app/styles/_variables' as *;

.switch {
  display: flex;
  align-items: center;
  gap: 10px;

  .button {
    outline: none;
    border: none;
    background: none;
    color: $white;
    transition: $primary-transition;
    cursor: pointer;

    &.active {
      color: $primary;
    }

    :hover {
      color: $primary;
    }
  }
}
