@use '@app/styles/_variables' as *;

.switch {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border: 1px solid $gray;
  border-radius: 10px;
  background: none;
  color: $white;
  cursor: pointer;
}
