@use '@app/styles/_variables' as *;

.wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;

  .container {
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: 540px;
    height: 560px;
    border-radius: 10px;
    background-color: $gray-dark;
    place-content: center center;
  }
}

@media screen and (width <= 960px) {
  .wrapper {
    flex-direction: column;
    padding: 40px 24px;

    .container {
      height: 460px;
    }
  }
}
