.wrapper {
  position: relative;
  min-height: 100vh;

  .container {
    display: flex;
    width: 100%;

    .main {
      padding: 40px 64px;
      max-width: 1200px;
      min-height: 100vh;
    }
  }
}
