@use '@app/styles/_variables' as *;

.wrapper {
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .percentage {
      color: $secondary;
      font-size: 16px;
    }

    .progress-fraction {
      font-size: 12px;
    }
  }

  progress {
    width: 100%;
    height: 4px;
    appearance: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-radius: 20px;
    border-image: initial;

    &::-webkit-progress-bar {
      border-radius: 10px;
      background-color: $gray-stroke;
    }

    &::-webkit-progress-value {
      border-radius: 10px;
      background-color: $secondary;
      transition: width 0.3s ease-in-out;
    }
  }
}
