@use '@app/styles/_variables' as *;

.wrapper {
  position: relative;

  .profile {
    max-width: 1508px;
    transition: max-width 300ms ease-in-out;

    .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      width: 100%;

      .settings-button {
        svg {
          color: $gray;
        }
      }
    }

    .title {
      margin: 5px 0 32px;
      color: $gray-light;
      line-height: 120%;
      font-weight: 400;
      font-size: 36px;
    }

    .edit-link {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $links;
      text-decoration: none;
      font-size: 18px;
    }
  }

  &.is-open {
    .profile {
      max-width: 1172px;

      .top {
        .settings-button {
          transition: none;
          opacity: 0;
        }
      }
    }
  }
}

@media screen and (width <= 960px) {
  .wrapper {
    &.is-open {
      .profile {
        max-width: 1172px;

        .top {
          .settings-button {
            transition: none;
            opacity: 0;
          }
        }
      }
    }
  }
}
