@use '@app/styles/_variables' as *;

.profile {
  .container {
    .title {
      margin-bottom: 32px;
      color: $gray-light;
      font-weight: 400;
      font-size: 36px;
    }

    .edit-link {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $links;
      text-decoration: none;
      font-size: 18px;
    }
  }
}
