@use '@app/styles/_variables' as *;

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: none;
  color: $white;
  transition: $primary-transition;
  cursor: pointer;

  .icon {
    display: flex;
    align-items: center;
  }

  &.primary {
    background: $primary;

    &:hover {
      background: $primary-hover;
    }
  }

  &.secondary {
    border: 1px solid $gray-stroke;
    background: transparent;

    &:hover {
      background: $violet-dark;
    }
  }

  &.sm {
    padding: 12px 45px;
    font-size: 18px;
  }

  &.lg {
    padding: 15px 32px;
    font-size: 18px;
  }

  &.full {
    padding: 16px 32px;
    width: 100%;
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
