@use '@app/styles/_variables' as *;

.wrapper {
  padding: 40px 0 60px;
  background-color: $gray-dark;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $layout-max-width;

    .nav {
      .list {
        display: flex;
        align-items: center;
        gap: 100px;
        list-style-type: none;
        font-size: 18px;
      }
    }
  }
}
