@use '@app/styles/_variables' as *;

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .action {
    color: $links;
    text-decoration: none;
    transition: $primary-transition;

    &:hover {
      color: $white;
    }
  }
}
