@use '@app/styles/_variables' as *;

.item {
  width: 400px;
  border-radius: 10px;
  background: $gray-dark;
  list-style: none;

  .thumbnail {
    > img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .info {
    padding: 20px;
    width: 100%;

    .title {
      margin: 0;
      padding-bottom: 12px;
      font-weight: 500;
      font-size: 21px;
    }

    .description {
      display: -webkit-box;
      margin: 0;
      margin-bottom: 12px;
      overflow: hidden;
      line-height: 20px;
      font-size: 14px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .lessons {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $violet-dark;
  }
}
