@use '@app/styles/_variables' as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  border-radius: 10px;
  background: $violet-dark;

  .icon {
    width: 60px;
    height: 60px;
    color: $gray;
  }

  .uploader {
    display: block;
    padding: 12px 51px;
    width: 100%;
    border: 1px solid $gray-stroke;
    border-radius: 10px;
    background: $violet-dark;

    .placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }

    input[type='file'] {
      display: none;
    }
  }
}
