@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;

  &.sm {
    .img {
      width: 24px;
      height: 24px;
    }

    .name {
      font-weight: 700;
      font-size: 18px;
      font-family: Karla, serif;
    }
  }

  &.md {
    .img {
      width: 34px;
      height: 34px;
    }

    .name {
      font-weight: 700;
      font-size: 22px;
      font-family: Karla, serif;
    }
  }
}
