@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.logo {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  color: inherit;
  text-decoration: none;

  .img {
    width: 36px;
    height: 36px;
  }

  .name {
    font-weight: 700;
    font-size: 22px;
    font-family: Karla, serif;
  }
}
